.ms-50 {
  margin-left: 50px !important;
}
.me-50 {
  margin-right: 50px !important;
}
.mb-7 {
  margin-bottom: 7px !important;
}

.ps-64 {
  padding-left: 64px !important;
}
.pe-64 {
  padding-right: 64px !important;
}
